.attachment {
    &__items {
        @include flex(stretch);
        flex-direction: column;
        margin: 10px -10px;
    }

    &__item {
        width: 100%;
        padding: 10px;

        &:hover {
            background: rgba(107, 107, 107, .1)
        }
    }

    &__input {
        margin: 0 0 10px;

        &:focus {
            border: 1px solid $color-blue-lite;
        }
    }

    &__btn {
        background: $color-blue-lite;
        color: $color-white;
        font-weight: 500;
        justify-content: center;

        &:hover {
            background: $color-blue;
        }
    }

    &__link {
        border-top: 1px solid rgba(107, 107, 107, .3);
    }

    &__sections {
        @include flex(stretch, null, nowrap);
        flex-direction: column;
        gap: 20px;
        padding-left: 35px;
        margin-top: 10px;
        max-height: 435px;
        overflow-x: hidden;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 2px;
            background: $color-blue-lite;
        }
    }

    &__section {
        @include flex(null, null, nowrap);
        gap: 10px;
        margin: 0 -5px;
        padding: 5px;
        cursor: pointer;
        position: relative;

        &-rename {
            @include flex(center, null, nowrap);
            @include size(85%,25px);

            &.hidden {
                display: none;
            }
        }

        &-input {
            @include size(100%,100%);
            @include font(13px);
            padding: 0 5px;

            &::placeholder {
                @include font(13px, null, 15px, rgba($color-gray, .8), null);
                font-size: 13px;
            }
        }

        &-btns {
            @include flex(center,null, nowrap);
            transform: translateY(1px);
        }

        &-btn {
            @include size(25px, 25px);
            display: flex !important;
            align-items: center;
            justify-content: center;

            &.red {
                background: rgba($color-red, .2);

                &:hover {
                    background: rgba($color-red, .3);
                }
            }

            &.green {
                background: rgba($color-green-lite, .3);

                &.disabled {
                    pointer-events: none;
                    background: rgba($color-green-lite, .05);
                }

                &:hover {
                    background: rgba($color-green-lite, .4);
                }
            }
        }

        &-bg {
            @include flex(center, center);
            @include font(25px, 500, 1, null, null);
        }

        &-left {
            @include size(115px, 80px);
            background: rgba(107, 107, 107, .1);
            flex-shrink: 0;
        }

        &-right {
            @include flex(stretch, null, nowrap);
            flex-direction: column;
            gap: 5px;
            width: 100%;
        }

        &-img {
            @include size(100%, 100%);
            object-fit: contain;
        }

        &-actions {
            @include transition(.2s);
            @include position(absolute, null, 0, 15px, null);
            @include flex(center, center);
            flex-direction: column;
            gap: 7px;
            height: 100%;
            opacity: 0;
            visibility: hidden;
        }

        &-link {
            @include font(18px, 300, 1, $color, null);
            @include flex(center, center);
            text-decoration: none;
            position: relative;

            .details__actions-modal {
                color: $color !important;
                top: -140px;
            }

            &.delete {
                &:hover {
                    color: rgba(219, 5, 61, .3)
                }
            }

            &:hover {
                color: $color-blue-lite;
            }
        }

        &-date {
            @include font(15px, null, 1, null, null);
        }

        &-title {
            @include font(15px, 700, 1, $color, null);

            .link {
                @include flex(center);
                gap: 5px;
                color: $color;
            }

            &.hidden {
                display: none;
            }
        }

        &-loading {
            @include font(17px, 500, 1, $color-gray, null);
            @include size(100%, 80px);
            background: rgba($color-gray, .1);
            @include flex(center, center);
            gap: 10px;

            &-icon {
                @include transition;
                @include font(20px, null, 1, $color-gray, null);
                animation: upper 1s infinite linear;
            }
        }

        &-cover {
            @include font(13px, 500, 1, $color-white, null);
            @include flex(center, center);
            gap: 7px;
            margin-top: auto;
            width: max-content;

            &-icon {
                @include font(30px, null, 1, $color-white, null);
                animation: move 1s infinite linear;
            }

            &-loading {
                @include transition(.2s);
                @include position(absolute, 0, 0, null, null);
                @include size(100%, 100%);
                @include flex(center, center);
                opacity: 0;
                visibility: hidden;
                background: #6b6b6b80;
            }

            .cover-add {
                @include flex(stretch);
                gap: 7px;
                padding: 5px 10px;
                background: $color-blue-lite;

                &.hidden {
                    display: none;
                }

                &:hover {
                    background: $color-blue;
                }
            }

            .cover-delete {
                display: none;
                padding: 5px 10px;
                background: rgba(219, 5, 61, .3);

                &.active {
                    @include flex(stretch);
                    gap: 7px;
                }

                &:hover {
                    background: rgba(219, 5, 61, .4);
                }
            }
        }

        &.show {
            .attachment__section-cover-loading {
                opacity: 1;
                visibility: visible;
            }
        }

        &:hover {
            background: rgba($color-gray, .1);

            .attachment__section-actions {
                opacity: 1;
                visibility: visible;
            }
        }

    }

    .details__actions-modal {
        top: 40px;
    }
}

@keyframes upper {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px);
    }
}
