.desks {
    position: relative;

    .modal__load {
        opacity: 1;
        visibility: visible;
        @include position(absolute, 0, 0, null, null);
    }

    &__create {
        &-list {
            @include position(absolute, 0, 0, null, null);
            @include size(100%);
        }
    }

    &__inner {
        @include grid(20px, 20px, 290px, 299px);
        gap: 10px;

        &.guest {
            .room__desks-add,
            .desks__settings,
            .desks__edit {
                display: none;
            }
        }
    }

    &__item {
        @include flex(flex-start);
        pointer-events: painted;
        gap: 10px;
        position: relative;
        border: 1px solid rgba(gray, .4);
        background: $color-white;
        background-size: cover !important;
        padding: 10px 50px 45px 10px;
        text-decoration: none;

        &-error {
            font-weight: 300;
            background: transparent;
            padding: 0;
            @include position(absolute, 20px, null, null, 2px);

            .error__text {
                @include font(13px, 400, 1, $color-red, null);
            }
        }

        &-input {
            @include size(100%, 100%);
            padding: 20px 75px 20px 20px;
        }

        .desks__item-settings.open {
            color: $color-white !important;
        }

        &-title {
            @include font(18px, 700, 1, $color-white, null) ;
            position: relative;
            z-index: 1;
        }

        &-rename {
            @include position(absolute, 0, 0, null, null, 2);
            @include size(100%, 100%);
            @include flex(center);
            opacity: 0;
            visibility: hidden;

            &.show {
                opacity: 1;
                visibility: visible;
            }
        }

        &-btns {
            @include flex(center, center);
            gap: 5px;
            @include position(absolute, null, 50%, 20px, null);
            transform: translateY(-50%);
        }

        &-cancel {
            @include font(19px, 300, 15px, rgba($color-red, .7) null);
            cursor: pointer;

            &:hover {
                color: $color-red;
            }
        }

        &-confirm {
            @include font(17px, null, 15px, $color-green-lite, null);
            transform: translateY(0);
            cursor: pointer;

            &:hover {
                color: $color-green;
            }
        }

        &-alert {
            gap: 20px !important;
        }

        &-settings {
            position: relative;
            z-index: 1;

            &.open {
                color: $color !important;
            }
        }

        &:hover {
            .desks__delete {
                opacity: 1;
            }

            .desks__edit {
                opacity: .7;
            }

            &::after {
                background: rgba($color, .3);
            }
        }

        &.default {
            .desks__item-title {
                color: rgba(16, 14, 25, 0.77) !important;
            }

            .desks__settings, .desks__edit {
                color: #100e196b !important;

                &:hover {
                    color: rgba(16, 14, 25, 0.55) !important;
                }
            }
        }

        &::after {
            content: '';
            @include transition(.2s);
            @include position(absolute, 0, 0, null, null);
            @include size(100%, 100%);
            background: rgba($color, .1);
        }
    }

    &__edit {
        @include font(16px, 400, 1, $color-white null);
        @include position(absolute, null, null, 11px, 11px);
        z-index: 1;
        opacity: 0;

        &:hover {
            opacity: 1 !important;
        }
    }

    &__delete {
        opacity: 0;
        @include position(absolute, null, 0, 0, null);
        @include font(19px, null, 15px, null, null);
        padding: 5px 10px;

        &:hover {
            color: #d20909;
        }
    }

    &__settings {
        @include position(absolute, null, 0, 0, null);
        @include font(19px, null, 15px, rgba($color-white, .6), null);
        opacity: 1;
        cursor: pointer;
        padding: 5px 10px;

        &:hover {
            color: $color-white;
        }

        &.open {
            opacity: 1;
            color: $color-white;
        }
    }

    &__form {

        @include flex(center, null);
        padding: 10px;
        background: #f6f6f6;
        width: 100%;
        box-shadow: 0 2px 6px 0 rgba(34, 60, 80, 0.2);

        &-content {
            width: 100%;
        }

        &-bg {
            margin: 15px 0;
        }

        &-load {
            @include transition(.3s);
            @include flex(center, center);
            @include position(absolute, 0, 0, null, null);
            opacity: 0;
            visibility: hidden;
            background: rgba($color-gray, .5);
            width: 100%;
            height: 100%;

            &-icon {
                @include font(30px, null, 15px, null, null);
                animation: move 0.9s infinite linear;
            }
        }

        &-bottom {
            position: relative;
            background: $color-white;
            padding: 10px;
            width: 100%;
        }

        &-close {
            @include position(absolute, null, 50%, 15px, null);
            cursor: pointer;
            font-size: 24px;
            color: $color-gray;
            transform: translateY(-50%);
        }

        &-error {
            @include flex(center, center);
            @include size(100%, 45px);
            background: #ff0748a1;
            @include position(absolute, null, null, null, -125px);

        }

        &.load {
            .desks__form-load {
                opacity: 1;
                visibility: visible;
            }
        }

        .btn {
            height: 35px;
            line-height: 35px;
            font-size: 13px;
            padding: 0 15px;
        }
    }

    &__lists {
        margin: 0 15px;

        &-add {
            position: relative;

            &-btn {
                @include font(17px, 500, 1, $color-white, null);
                @include flex(center, center);
                background: rgba($color-gray, .3);
                cursor: pointer;
                gap: 10px;
                width: 300px;
                flex-shrink: 0;
                padding: 30px 0;

                &.disabled {
                    pointer-events: none;
                    opacity: .3;
                }

                &-icon {
                    font-size: 25px;
                    transform: translateY(-1px);
                }

                &:hover {
                    background: rgba($color-gray, .4);
                }
            }
        }

        &-inner {
            @include flex(flex-start, null, nowrap);
            height: calc(100vh - 148px);
            gap: 10px;
            padding-bottom: 25px;

            .desks__settings, .desks__edit {
                color: rgba($color-gray, .5);

                &:hover {
                    color: rgba($color-gray, .6)
                }
            }

            .desks__settings.open {
                color: $color-white;
            }
        }

        &-empty {
            @include flex(center, space-between, null);
            @include font(16px, 400, 15px, null, null);
            background: $color-white;
            border: 1px solid rgba(128, 128, 128, .4);
            padding: 20px 30px;
            margin: 25px auto 0;
            width: 50%;
        }

        &-wrapper {
            @include flex;
            flex-wrap: nowrap;
            gap: 20px;
            overflow: auto;
        }
    }

    &__list {
        @include size(300px, 100%);
        overflow-x: hidden;
        overflow-y: auto;
        flex-shrink: 0;

        &::-webkit-scrollbar {
            width: 2px;
        }

        &-wrapper {
            @include flex(null, null, nowrap);
            @include transition(.2s);
            min-width: 300px;
            //max-height: 700px;
            flex-direction: column;
            background: $color-white;
            text-decoration: none;
            position: relative;
        }

        &-inner {
            padding: 20px;
            @include flex(flex-start);
            pointer-events: painted;
            gap: 5px;
            position: relative;
        }

        &-title {
            @include font(16px, 600, 1, $color-blue-lite, null)
        }

        .desks__edit,
        .desks__item-confirm {
            cursor: pointer
        }

        .desks__delete,
        .desks__item-cancel {
            cursor: pointer;
            color: #ff0606;

            &:hover {
                color: $color-red;
            }
        }

        &-newcard {
            @include position(absolute, null, null, 0, 0);
            width: 100%;
            padding: 4px;
            opacity: 0;
            visibility: hidden;
        }

        &-input {
            @include font(13px, 400, 15px, null, null);
            width: 100%;
            padding: 5px 75px 5px 10px;
            outline: 1px solid rgba(gray, .4);

            &::placeholder {
                @include font(11px, null, null, rgba($color-gray, .7), null);
            }
        }

        &-btns {
            @include position(absolute, null, 48%, 10px, null);
            transform: translateY(-50%);
        }

        &-bottom {

            &.open {
                .desks__list-btn {
                    opacity: 0;
                    visibility: hidden;
                }

                .desks__list-newcard {
                    opacity: 1;
                    visibility: visible;
                }
            }

            &.disabled {
                pointer-events: none;
                opacity: .3;
            }
        }

        &-btn {
            @include font(15px, null, 1, $color-white, null);
            text-align: center;
            padding: 9px;
            background: $color-green-lite;
            cursor: pointer;
            opacity: 1;
            visibility: visible;

            &:hover {
                background: $color-green-hover;
            }
        }

        &-settings {
            @include position(absolute, null, 30px, 50%, null, 1000);
            width: 95%;
            transform: translateX(50%);
            opacity: 0;
            visibility: hidden;

            &.open {
                opacity: 1;
                visibility: visible;
            }
        }

        &.show {
            .desks__list-wrapper {
                background: rgba($color, .4)
            }

            .desks__list-title {
                color: $color-gray;
            }

            .desks__cards-items {
                opacity: .2;
            }

            .desks__cards-item, .desks__list-btn {
                background: rgba($color, .1);
                color: $color-gray
            }
        }

        &:hover {
            .desks__list-title {
                text-decoration: underline;
            }

            .desks__settings {
                opacity: 1;
            }

            .desks__edit {
                opacity: .7;
            }
        }
    }

    &__cards {
        padding: 20px 10px;
        position: relative;
        flex: 1;

        &-text {
            width: fit-content;
            background: #ffffffb5;
            padding: 5px;
            border-radius: 5px;
            position: relative;
            z-index: 2;

            span {
                display: block;
                transform: translateY(1px);
            }
        }

        &-labels {
            @include flex(stretch);
            gap: 0 5px;
            position: relative;
            z-index: 2;

            &.hidden {
                display: none;
            }
        }

        &-description {
            @include transition(.2s);
            padding: 2px 10px !important;
            margin-left: auto;

            &-text {
                display: none;

                span {
                    @include flex(center, center);
                    transform: translateY(1px);
                }
            }

            &.enlarged {
                @include flex(flex-start, null, nowrap);
                gap: 10px;
                width: 100%;
                padding: 5px !important;

                .desks__cards-description-text {
                    @include flex(center, flex-start);
                    @include size(auto, 20px);
                    min-width: 38px;
                    height: auto;
                }
            }

            &:hover {
                background: $color-white;
            }
        }

        &-term {
            @include flex(center);
            @include font(11px, null, 15px, null, null);
            background: #ffffffb5;
            padding: 5px;
            border-radius: 5px;
            gap: 5px;
            margin-top: 5px;

            span {
                transform: translateY(2px);
            }

            .icon {
                @include font(11px, 500, 13px, null, null);
            }

            &.hidden {
                display: none
            }
        }

        &-empty {
            @include font(13px, 400, 1, null, null);
            border-radius: 5px;
            background: rgba($color-gray, .1);
            padding: 10px;
        }

        &-items {
            @include flex(stretch);
            flex-direction: column;
            gap: 7px;
        }

        &-item {
            @include transition(.2s);
            @include font(12px, 500, 1.3, $color, null);
            cursor: pointer;
            padding: 10px;
            border-radius: 5px;
            background: $color-blue-lite;
            position: relative;
            @include flex(stretch);
            flex-direction: column;
            background-size: cover;

            &.success {
                .desks__cards-term.term, .desks__cards-count-tasks {
                    background: $color-green-lite;
                    color: $color-white;
                }

                &:hover {
                    background: rgba($color-green-lite, .3)
                }
            }

            &.overdue {
                .desks__cards-term.term, .desks__cards-count-tasks {
                    background: $color-error;
                    color: $color-white;
                }

                &:hover {
                    background: darken($color-error, 10%)
                }
            }

            &::before {
                content: '';
                @include transition(.2s);
                @include position(absolute, 0, 0, null, null, 1);
                @include size(100%, 100%);
                visibility: hidden;
            }

            &:hover {
                &::before {
                    background: rgba($color, .1);
                    visibility: visible;
                }
            }
        }

        &-tags {
            @include transition(.2s);
            @include flex(center);
            gap: 4px;
            margin-bottom: 15px;
            background: #ffffffb5;
            padding: 5px;
            border-radius: 5px;
            width: fit-content;
            position: relative;
            z-index: 2;

            &.enlarged {
                .desks__cards-tag {
                    @include size(auto, 20px);
                    min-width: 38px;

                    span {
                        display: block;
                    }
                }
            }

            &:hover {
                background: $color-white
            }
        }

        &-tag {
            @include flex(center, center);
            @include font(null, 500, 1, $color-white, null);
            width: 38px;
            height: 8px;
            border-radius: 5px;
            padding: 0 8px;

            span {
                transform: translateY(1px);
                display: none;
            }
        }

        &-count-tasks {
            @include flex(center);
            @include font(11px, null, 1, null, null);
            gap: 6px;
            margin-top: 5px;

            .count {
                transform: translateY(1px);
            }

            .icon {
                @include font(12px, 500, 13px, null, null);
            }

            &.hidden {
                display: none;
            }
        }

        &-parties {
            @include flex(center);
            gap: 3px;
            margin-top: 15px;

            .desks__participants-logo {
                span {
                    transform: translateY(2px);
                }
            }
        }

        &-party {
            @include size(30px, 30px);
            @include flex(center, center);
            @include font(15px, 500);
            background: $color-white;
            border-radius: 50%;

            span {
                transform: translateY(2px);
            }
        }

        &-cover {
            height: 150px;
            background: #ffffffb5;
            padding: 5px;
            border-radius: 5px;
            margin-bottom: 15px;

            &-img {
                @include size(100%, 100%);
                display: block;
                object-fit: cover;
            }
        }

        &::after {
            content: '';
            @include position(absolute, null, 0, 50%, null);
            transform: translateX(50%);
            @include size(95%, 1px);
            background: rgba($color, .3);
        }
    }

    &__participants {
        &-logo {
            @include flex(center, center);
            @include size(35px, 35px);
            @include font(16px, 700, 1);
            border-radius: 50%;
            background: $color-white;
            position: relative;

            span {
                transform: translateY(1px);
            }
        }

        &-icon {
            height: 11px;
            @include position(absolute, null, null, 0, 0);
        }

        &-add {
            @include font(15px, 500, 15px, $color-white);
            @include flex(center, center, nowrap);
            cursor: pointer;
            padding: 10px;
            background: $color-blue-lite;
            border-radius: 5px;
            margin-left: 20px;

            &.disabled {
                pointer-events: none;
                opacity: .3;
            }

            &:hover {
                background: darken($color-blue-lite, 3%);
            }
        }
    }

    &__info {
        @include flex();
        @include position(fixed, 0, 60px, null, null);
        @include size(100%, 48px);
        padding: 0 15px;
        gap: 10px;

        &-wrapper {
            @include flex(center);
            gap: 3px;
            background: rgba(255, 255, 255, .4);
            border-radius: 5px;
            padding: 7px;
            height: 100%;
        }

        &-name {
            @include font(19px, 600, 1, $color-white);
            @include flex(center);
            width: fit-content;
            height: 100%;
            border-radius: 5px;
            padding: 0 10px
        }
    }
}

