.desks {

    margin-top: 30px;

    &__inner {
        @include flex(stretch);
        gap: 10px;
    }

    &__item {
        border: 1px solid rgba(gray, .4);
        background: $color-white;
        padding: 20px;
        width: calc((100%/3) - 20px);
    }

    &__title {
        @include font(16px, 600, 1, $color-blue-lite, null)
    }
}
