.details {
    @include transition(.2s);
    @include position(fixed, 0, 0, null, null, 1000);
    @include size(100%, 100%);
    @include flex(center, center);
    visibility: hidden;
    opacity: 0;
    animation: fadeIn 0.5s linear;
    background: rgba($color, .7);

    &__close {
        @include position(absolute, null, 0, 0, null);
        @include font(30px, 300, 15px, $color-white, null);
        cursor: pointer;
        padding: 5px 10px 10px 15px;
        background: $color-blue-lite;
        border-bottom-left-radius: 25px;

        &:hover {
            background: $color-blue;
        }
    }

    &__window {
        @include flex(stretch, null, nowrap);
        flex-direction: column;
        height: 100%;
        background: #f4f5f7;

        &-term {
            @include flex(center);
            margin-top: 5px;

            &-box {
                @include font(12px, 300, 1, null, null);
                @include flex(center, center);
                padding: 0 5px;
                background: rgba(107, 107, 107, .1);
                border-radius: 5px;
                height: 25px;
            }

            &-label {
                @include flex(center, center);
                @include font(10px, 400, 1, $color-white, null);
                padding: 0 5px;
                height: 15px;

                .label-checked {
                    @include flex(center, center);
                    background: $color-green-lite;
                    height: 100%;
                    padding: 0 5px;
                }

                .label-overdue {
                    @include flex(center, center);
                    background: $color-error;
                    height: 100%;
                    padding: 0 5px;
                }

                &.disabled {
                    display: none;
                }
            }
        }

        &-inner {
            position: relative;
        }

        &-icon {
            transform: translateY(-1px);
        }

        &-participants {
            &-subtitle {
                @include font(13px, 400, 1, null, null);
                padding-left: 35px;
            }

            &-content {
                @include flex(center, null, nowrap);
                gap: 5px;
                margin-top: 7px;
            }

            &-items {
                @include flex(center, null, nowrap);
                gap: 5px;
            }

            &-item {
                @include size(30px, 30px);
                background: rgba($color-gray, .3);
                border-radius: 50%;
            }

            &-btn {
                @include transition(.2s);
                @include flex(center, center);
                @include size(30px, 30px);
                background: rgba($color-gray, .1);
                border-radius: 50%;
                cursor: pointer;

                &:hover {
                    background: rgba($color-gray, .2);
                }
            }
        }

        &-description {
            &-title {
                @include flex(center);
                @include font(16px, 500, 1, null, null);
                gap: 16px;
                position: relative;
            }

            &-btn {
                @include font(13px, null, 18px, $color-gray, null);
                @include transition(.2s);
                width: 100%;
                cursor: pointer;
                padding: 10px;
                background: rgba($color-gray, .1);
                min-height: 50px;
                margin-top: 10px;

                &:hover {
                    background: rgba($color-gray, .2);
                }
            }

            &-more {
                margin-top: 10px;
                padding-left: 30px;
            }
        }

        &-checklists {
            @include flex(stretch);
            flex-direction: column;
            gap: 20px;
        }

        &-checklist {
            position: relative;

            &-title {
                @include flex(center);
                @include font(16px, 500, 1, null, null);
                gap: 16px;
                position: relative;
                cursor: pointer;
            }

            &-more {
                margin-top: 5px;
                padding-left: 30px;
            }

            &-create {

            }

            &-input {
                border: 1px solid $color-blue-lite;
                background: $color-white;
                width: 100%;
                min-height: 50px;
                padding: 7px 10px 10px;
                font-size: 13px;


                &.card-description {
                    min-height: 100px;
                }

                &::placeholder {
                    font-size: 13px;
                }
            }

            &-renamebtns {
                @include flex(center, center, nowrap);
                @include position(absolute, null, 0, 0, null);
            }

            &-btn {
                @include flex(center, center);
                @include size(33px, 33px);
                cursor: pointer;

                &.red {
                    background: rgba($color-red, .2);

                    &:hover {
                        background: rgba($color-red, .3);
                    }
                }

                &.green {
                    background: rgba($color-green-lite, .3);

                    &:hover {
                        background: rgba($color-green-lite, .4);
                    }
                }
            }

            &-form {
                @include position(absolute, 0, 0, null, null);
                @include size(100%, 33px);
                @include flex(center, null, nowrap);
                opacity: 0;
                visibility: hidden;

                &.show {
                    opacity: 1;
                    visibility: visible;
                }
            }

            &-rename {
                @include size(100%, 100%);
                padding: 0 75px 0 10px;

                &::placeholder {
                    font-size: 13px;
                    color: rgba($color-gray, .7)
                }
            }

            &-btns {
                @include flex(center);
                gap: 10px;
            }
        }

        &-action {
            &-title {
                @include flex(center);
                @include font(16px, 500, 1, null, null);
                gap: 18px;
                position: relative;
            }

            &-logo {
                @include size(30px, 30px);
                background: rgba($color-gray, .3);
                border-radius: 50%;
                flex-shrink: 0;
            }

            &-btn {
                @include font(13px, null, 1, $color-gray, null);
                background: $color-white;
                border: 1px solid rgba($color-gray, .5);
                border-radius: 5px;
                padding: 10px;
                width: 100%;
                cursor: pointer;

                &:hover {
                    box-shadow: 0 3px 8px 0 rgba(34, 60, 80, 0.2);
                }
            }

            &-comment {
                @include flex(center, null, nowrap);
                margin-top: 15px;
                gap: 10px;
            }
        }

        &-top {
            padding: 20px 60px 20px 15px;
        }

        &-bottom {
            @include flex(stretch, space-between, nowrap);
            height: 100%;
            padding: 0 15px 25px;

            &-left {
                @include flex(stretch);
                flex-direction: column;
                gap: 25px;
                width: 72%;
            }

            &-right {
                width: 25%;
            }
        }

        &-title {
            @include font(19px, 700, 20px, null, null);
            position: relative;
            padding-left: 30px;
            cursor: pointer;

            .details__window-icon {
                @include position(absolute, 0, 0, null, null);
            }
        }

        &-subtitle {
            @include font(14px, 400, 20px, null, null);
            @include flex(center);
            gap: 3px;
            margin-top: 10px;
            padding-left: 35px;
        }

        &-cardinfo {
            &-btn {
                @include flex(center, center);
                @include size(33px, 33px);
                cursor: pointer;

                &.red {
                    background: rgba($color-red, .2);

                    &:hover {
                        background: rgba($color-red, .3);
                    }
                }

                &.green {
                    background: rgba($color-green-lite, .3);

                    &:hover {
                        background: rgba($color-green-lite, .4);
                    }
                }
            }
        }

        &-card {
            @include font(14px, 400, 20px, $color-gray, null);
            cursor: pointer;
            text-decoration: underline;

            &-btn {
                @include font(13px, 400, 1, null, null);
                padding: 10px;
                width: max-content;
                margin-top: 5px;
                cursor: pointer;
                background: rgba($color-gray, .1);

                &.top {
                    margin: 0 0 0 auto;
                }

                &.blue {
                    background: $color-blue-lite;
                    color: $color-white;

                    &.disabled {
                        cursor: default;
                        background: rgba($color-blue-lite, .3);

                        &:hover {
                            background: rgba($color-blue-lite, .3)
                        }
                    }

                    &:hover {
                        background: $color-blue
                    }
                }

                &.transparent {
                    background: transparent;

                    &:hover {
                        background: rgba($color-gray, .2)
                    }
                }

                &:hover {
                    background: rgba($color-gray, .2);
                }
            }

            &-form {
                @include position(absolute, 0, -7px, null, null);
                @include size(100%, 33px);
                @include flex(center, null, nowrap);
                opacity: 0;
                visibility: hidden;

                &.show {
                    opacity: 1;
                    visibility: visible;
                }
            }

            &-rename {
                @include size(100%, 100%);
                padding: 0 75px 0 10px;

                &::placeholder {
                    font-size: 13px;
                    color: rgba($color-gray, .7)
                }
            }

            &-renamebtns {
                @include flex(center, center, nowrap);
                @include position(absolute, null, 0, 0, null);
            }

            &:hover {
                text-decoration: none;
            }
        }

        &-content {
            flex: 1;
        }

        &-actions {
            @include flex(center, flex-end, nowrap);
            width: 100%;
            gap: 10px;
            margin-top: 30px;
        }
    }

    &__load {
        @include position(absolute, 50%, 50%, null, null);
        @include transition(.2s);
        transform: translate(-50%, -50%);

        &-icon {
            @include font(50px, null, 15px, rgba($color-gray, .5), null);
            animation: move 0.9s infinite linear;
        }
    }

    &__actions {
        @include flex(stretch);
        flex-direction: column;

        &-subtitle {
            @include font(13px, 400, 1, null, null);
        }

        &-btns {
            @include flex(stretch);
            flex-direction: column;
            gap: 7px;
            margin-top: 10px;
        }

        &-btn {
            @include transition(.2s);
            @include font(13px, 300, 1, null, null);
            @include flex(center);
            position: relative;
            gap: 9px;
            cursor: pointer;
            padding: 10px;
            border-radius: 5px;
            width: 100%;
            background: rgba($color-gray, .1);

            &.delete {
                background: rgba($color-red, .3);

                &:hover {
                    background: rgba($color-red, .4);
                }
            }

            &.btn-date {
                background: $color-blue-lite;
                justify-content: center;
                margin-top: 15px;
                font-size: 15px;

                &:hover {
                    background: darken($color-blue-lite, 10%);
                }
            }

            &.tags {
                .details__actions-modal {
                    top: 38px;
                }
            }

            &.disabled {
                opacity: .3;
                pointer-events: none;
                cursor: default
            }

            &:hover {
                background: rgba($color-gray, .2);
            }
        }

        &-icon {
            @include font(12px, 400, 1, null, null);
        }

        &-tags {
            @include flex(stretch);
            flex-direction: column;
            gap: 5px;
            margin-top: 10px;
        }

        &-modal {
            @include position(absolute, null, -150px, 0, null);
            background: $color-white;
            width: 290px;
            padding: 0 10px 10px 10px;
            border-radius: 5px;
            box-shadow: -1px 4px 8px 0px rgba(34, 60, 80, 0.2);
            opacity: 0;
            visibility: hidden;

            &.show {
                opacity: 1;
                visibility: visible;
                z-index: 1;
            }

            &-close {
                @include font(15px, null, 1, null, null);
                @include position(absolute, null, 50%, 10px, null);
                transform: translateY(-50%);
            }

            &-top {
                @include font(15px, 400, 1, null, null);
                @include flex(center, center);
                position: relative;
                padding: 10px 30px 10px 10px;
                text-align: center;
                border-bottom: 1px solid rgba($color-gray, .3)
            }

            &-back {
                @include position(absolute, -8px, 50%, null, null);
                transform: translateY(-50%);
            }

            &-subtitle {
                @include font(13px, 600, 1);
                margin: 14px 0 3px;
            }

            &-title {
                @include font(15px, null, 1, null, null);
                @include flex(stretch);
                gap: 5px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &-text {
                @include font(13px, 400, 1, null, null);
                padding-top: 10px;
            }

            &-input {
                font-size: 13px;
                line-height: 1;
                color: #6b6b6b;
                background: #fff;
                border: 1px solid rgba(107, 107, 107, .5);
                padding: 10px;
                width: 100%;
            }

            &-close {
                cursor: pointer
            }

            &-btn {
                @include font(13px, 400, 1, $color-white, null);
                margin-top: 15px;
                padding: 10px;
                text-align: center;
                width: 100%;
                cursor: pointer;

                &.delete {
                    background: rgba($color-red, .6);

                    &:hover {
                        background: rgba($color-red, .7);
                    }
                }

                &.create {
                    background: rgba($color-green-lite, .6);

                    &:hover {
                        background: rgba($color-green-lite, .7);
                    }
                }

                &.disabled {
                    background: rgba($color-gray, .1);
                    pointer-events: none;

                    &:hover {
                        background: rgba($color-gray, .1)
                    }
                }
            }

            &-items {
                margin-top: 10px;
            }

            &-item {
                @include font(13px, null, 1, null, null);
                margin: 0 -10px;
                padding: 10px;

                &:hover {
                    background: rgba($color-gray, .1);
                }
            }

            &-label {
                @include size(15px, 15px);
                border-radius: 100%;
            }
        }

        &-edit {
            .details__actions-btn {
                margin-top: 5px;
            }
        }

        &-input {
            height: 35px;
            margin-top: 10px;
        }
    }

    &.show {
        opacity: 1;
        visibility: visible;
    }
}
