.party {
    height: 100%;

    &__top {
        padding-right: 175px;
        position: relative;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba($color-gray, .5)
    }

    &__wrapper {
        @include flex(stretch);
        flex-direction: column;
        height: 100%;
    }

    &__info {
        @include position(absolute, null, 0, 0, null);
        @include flex(center);
        gap: 10px;

        &-count {
            @include flex(center);
            @include font(18px, 500, 1, rgba($color-gray, .8), null);
            gap: 2px;
        }

        &-icon {
            transform: translateY(-2px);
        }
    }

    &__logo {

        @include size(50px, 50px);
        font-size: 27px;

        span {
            display: block;
            transform: translateY(1px);
        }
    }

    &__subtitle {
        @include font(14px, 300, 15px, null, null);
        margin-top: 5px;
    }

    &__items {
        @include flex(stretch);
        flex-direction: column;
        gap: 7px;
        margin-top: 25px;
    }

    &__btns {
        @include flex(self-end, space-between);
        flex: 1;

        &-back {
            @include font(45px, null, 1, rgba($color-gray, .3), null);

            &:hover {
                color: rgba($color-gray, .5);
            }
        }

        &-add {
            background: rgba(46, 187, 46, .82);

            &:hover {
                background: rgba(46, 187, 46, .92);
            }
        }
    }

    &__btn {
        &-delete {
            @include flex(center, center);
            @include font(13px, 500, 35px, rgba(107, 107, 107, .9));
            @include transition(.2s);
            gap: 5px;
            background: $color-white;
            border: 1px solid rgba(107, 107, 107, .5);
            border-radius: 5px;
            cursor: pointer;
            padding: 0 7px;

            .room__empty-icon {
                font-size: 13px;
            }

            &:hover {
                background: darken($color-white, 3%);
            }
        }
    }

    &__item {
        @include flex(center,);
        padding: 8px 10px;
        background: #f6f6f691;
        position: relative;

        &.admin {
            background: #2ebb2e26;
        }

        &-actions {
            @include flex(center, null, nowrap);
            margin-left: auto;
            gap: 10px;
        }

        &-settings {
            transform: translateY(1px);
            position: relative;

            .details__actions-modal {
                top: 0;
            }

            i {
                @include font(19px, null, 1, rgba(107, 107, 107, .7), null);
                cursor: pointer;

                &:hover {
                    color: rgba(107, 107, 107, .9);
                }
            }
        }

        &-status {
            @include font(13px, 500, 35px, $color-white);
            @include flex(center, center);
            gap: 3px;
            height: 37px;
            padding: 0 7px;
            border-radius: 5px;
            background: rgba(107, 107, 107, .5);

            &.admin {
                background: rgba(46, 187, 46, .82);
            }
        }

        &-logo {
            @include flex(center, center);
            @include size(35px, 35px);
            background: $color-white;
            border-radius: 50%;
            margin-right: 15px;
            border: 2px solid rgba($color, .6);

            span {
                display: block;
                transform: translateY(1px);
                font-weight: 600;
            }
        }

        &-icon {
            color: rgba($color, .6)
        }

        &-star {
            transform: translateY(-1px);
            font-size: 13px;
        }

        &-name {
            @include font(16px, 500);
            @include flex(stretch);
            flex-direction: column;
            gap: 2px;
        }

        &-nick {
            @include font(13px, 400);
        }
    }

    &__modal {

        &-title {
            margin-bottom: 30px;
            padding: 0 25px;
        }

        &-initials {
            font-weight: 600;
            transform: translateY(1px);
        }

        &-user {
            @include flex(center);
            @include transition(.1s);
            cursor: pointer;
            padding: 5px 10px;

            &-info {
                @include flex(flex-start);
                flex-direction: column;
                gap: 4px;
            }

            &-time {
                @include font(12px, 300, 1, null, null);
            }

            &-status {
                @include flex(center, null, nowrap);
                gap: 5px;
            }

            &-your {
                @include flex(center, center);
                @include font(11px, 700, 1,);
                padding: 5px 7px;
                border-radius: 3px;
                background: rgba($color-gray, .2);
                width: fit-content;

                span {
                    display: block;
                    transform: translateY(1px);
                }
            }

            &-participant {
                @include flex(center, center);
                @include font(11px, 700, 1,);
                padding: 5px 7px;
                border-radius: 3px;
                background: rgba(46, 187, 46, .82);
                width: fit-content;

                span {
                    display: block;
                    transform: translateY(1px);
                }
            }

            &:hover {
                background: rgba($color-gray, .1);
            }
        }

        &-logo {
            @include flex(center, center);
            @include size(35px, 35px);
            background: rgba($color-gray, .2);
            border-radius: 50%;
            margin-right: 10px;
        }

        &-spinner {
            top: 35%;
            position: absolute !important;
            @include font(20px, 300, 15px, $color-blue-lite, null);
            animation: move 1s infinite linear;
            text-align: center;
        }

        &-result {
            @include transition(.1s);
            text-align: center;
            opacity: 1;
            visibility: visible;

            &.hide {
                opacity: 0;
                visibility: hidden;
            }
        }

        &-input {
            &::placeholder {
                color: $color-gray;
                font-weight: 500;
            }
        }

        &-content {
            padding: 25px 0 0;
            height: 100%;
        }

        &-search {
            background: rgba(107, 107, 107, .2);
            padding: 25px;
            margin-top: 25px;
            position: relative;
        }

        &-window {
            @include position(absolute, null, null, 27px);
            background: $color-white;
            padding: 5px 0;
            width: 91%;
            margin-top: 5px;
            box-shadow: 0 4px 8px 0 rgba(34, 60, 80, 0.19);
            opacity: 0;
            visibility: hidden;
            min-height: 65px;

            &-text {
                @include position(absolute, 50%, 50%, null, null);
                transform: translate(-50%, -50%);
                @include transition(.1s);
                @include font(13px, 500, 15px, rgba($color-gray, .6), null);
                text-align: center;
                opacity: 1;
                visibility: visible;
                width: 100%;

                &.hide {
                    opacity: 0;
                    visibility: hidden;
                }
            }

            &.show {
                opacity: 1;
                visibility: visible;
            }
        }

        &-wrapper {
            width: 600px;
            min-height: 100px;
        }
    }

    &__lists {
        @include flex(flex-start, null);
        gap: 8px;
        padding: 10px;
        background: $color-white;
        width: 66%;
    }

    &__list {
        @include flex(center);
        @include font(12px, 500, 1);
        gap: 7px;
        padding: 7px;
        background: rgba($color-gray, .2);
        width: fit-content;

        &-icon {
            @include transition(.2s);
            cursor: pointer;

            &:hover {
                color: $color-white;
            }
        }
    }

    &__confirm {
        @include transition(.2s);
        @include font(13px, null, 1, $color-white, null);
        background: rgba(46, 187, 46, .82);
        padding: 10px;
        cursor: pointer;

        &:hover {
            background: rgba(46, 187, 46, .92);
        }
    }

    &__actions {
        @include flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 25px;
        padding: 0 25px;

        &-top {
            @include flex(flex-start, null, nowrap);
            gap: 10px;
        }
    }

    &__message {
        min-height: 70px;
        border: 1px solid rgba(128, 128, 128, .4);
        background: $color-white;
        padding: 10px;
        resize: none;

        &::placeholder {
            @include font(13px, null, 15px, rgba($color-gray, .5), null);
        }
    }
}
