.room {
    @include transition;
    animation: fadeIn 0.2s;

    &__title {
        text-transform: uppercase;
        @include font(18px, 500, 1, $color-gray, null);
    }

    &__desks {
        &-create {
            position: relative;
            min-height: 74px;
        }

        &-form {
            @include position(absolute, null, 0, -376px, null);
        }

        &-error {
            @include flex(center, center);
            @include position(absolute, 0, 0, null, null);
            @include transition(.2s);
            @include size(100%, 100%);
            opacity: 0;
            visibility: hidden;

            &.show {
                opacity: 1;
                visibility: visible;
            }
        }

        &-add {
            @include font(17px, 500, 1, $color-white, null);
            @include flex(center, center);
            background: rgba($color-gray, .1);
            cursor: pointer;
            gap: 10px;
            height: 100%;
            position: relative;

            &-icon {
                font-size: 25px;
                transform: translateY(-1px);
            }

            &:hover {
                background: rgba($color-gray, .2);
            }
        }
    }

    &__items {
        @include flex(stretch, null, null);
        flex-direction: column;
        gap: 65px;
        margin-top: 30px;
    }

    &__item {
        &-actions {
            @include flex(center, space-between);
            margin-bottom: 20px;
        }

        &-btns {
            @include flex(center);
            gap: 10px;
        }

        &-btn {
            @include flex(center, center);
            @include font(13px, null, 15px, $color-white, null);
            gap: 7px;
            cursor: pointer;
            padding: 10px;
            background: $color-blue-lite;

            &:hover {
                background: $color-blue;
            }
        }

        &-name {
            @include font(17px, 600, 1, null, null);
            @include flex(center);
            gap: 8px;
        }

        &-logo {
            @include flex(center, center);
            @include size(40px, 40px);
            border-radius: 10px;
            background: rgba($color-gray, .5);
            @include font(23px, 700, 1, $color-white, null);
        }
    }

    &__empty {
        @include font(18px, 600, 15px, $color-white, null);
        background: $color-blue-lite;
        @include flex(center, center);
        @include position(absolute, 50%, 50%, null, null);
        transform: translate(-50%, -50%);
        gap: 15px;
        padding: 30px;

        &-icon {
            @include font(24px, 600);
            transform: translateY(-1px);
        }

        &:hover {
            background: $color-blue;
        }
    }

    &__modal {
        @include transition;

        &-wrapper {
            @include flex(stretch);
            flex-direction: column;
            background: $color-white;
            width: 1000px;
            border-radius: 5px;
        }

        &-title {
            @include font(20px, 700, 1, null, null);
        }

        &-text {
            @include font(14px, null, rgba($color-gray, .7), null, null);
            margin-top: 10px;
        }

        &-name {
            margin-top: 40px;
        }

        &-subtext {
            @include font(12px, null, 1, null, null);
            display: block;
            margin-top: 5px;
        }

        &-description {
            margin-top: 40px;
        }

        &-content {
            flex: 1;
            height: 100%;
            padding: 40px 560px 40px 40px;
        }

        &-close {
            z-index: 1;
        }

        &-input {
            background: #fafafa;
            resize: none;

            &:hover {
                background: #f1f1f1;
            }

            &:focus {
                background: $color-white;
                border: 2px solid $color-blue-lite;
            }
        }

        &-images {
            @include flex(center, center);
            @include position(absolute, null, 0, 0, null);
            height: 100%;

            .images-desks {
                @include position(absolute, 0, 0, null, null);
                @include position(absolute, 50%, 50%, null, null);
                transform: translate(-50%, -50%);
            }
        }

        .images-bg {
            height: 100%;
        }

        &-btn {
            position: relative;

            span {
                @include transition(.2s);
            }

            &.load {
                span {
                    opacity: 0;
                }

                .room__modal-icon {
                    opacity: 1;
                }
            }
        }

        &-icon {
            @include transition(.2s);
            @include font(21px);
            opacity: 0;
            position: absolute !important;
            top: 29%;
            left: 45%;
            animation: move 1s infinite linear;
        }

        .btn {
            margin-top: 50px;
        }
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
