.settings {
    padding: 0 0 5px;
    color: $color;
    background: $color-white;
    border: 1px solid rgba(128, 128, 128, .4);
    box-shadow: 0 4px 9px 0 rgba(34, 60, 80, 0.2);
    min-width: 200px;

    &__title {
        @include font(14px);
        padding: 10px 0;
        text-align: center;
        position: relative;
        margin-bottom: 6px;

        &::before {
            content: '';
            @include position(absolute, null, null, 50%, 0);
            @include size(95%, 1px);
            background: rgba($color-gray, .2);
            transform: translateX(50%);
        }
    }

    &__item {

        &-btns {
            @include flex(center, null, nowrap);
            gap: 5px;
        }

        &-btn {
            @include font(13px, null, 15px, null, null);
            @include transition(.2s);
            padding: 10px;
            cursor: pointer;
            display: none;

            &.show {
                display: block;
            }

            &.disabled {
                opacity: .3;
                pointer-events: none;
            }

            &:hover {
                background: rgba($color-gray, .2);
            }
        }

        &-alert {
            font-size: 13px;
            font-weight: 600;
            padding: 8px 10px;
            gap: 19px;
            display: none;

            .btn {
                margin-top: 10px;
                width: 100%;
                height: 30px;
                line-height: 30px;
                padding: 0 15px;
                background: #2ebb2ea8;

                &:hover {
                    background: rgba(45, 171, 45, 0.82);
                }
            }

            &.show {
                @include flex(center, null, nowrap);
            }
        }

        .desks__form-bg {
            @include size(100%, 100%);
            margin: 0;

            span {
                display: block;
                margin-bottom: 5px;
            }
        }
    }
}
