.sidebar {
    &__links {
        @include flex(stretch);
        flex-direction: column;
        gap: 5px;
    }

    &__link {
        @include font(15px, 500, 1, $color, null);
        @include flex(center);
        text-decoration: none;
        gap: 10px;
        padding: 10px;
        border-radius: 5px;

        &-icon {
            transform: translateY(-2px);
        }

        &.router-link-active {
            background: $color-blue-lite;
            color: $color-white;

            &:hover {
                background: darken($color-blue-lite, 5%);
            }

        }

        &:hover {
            background: rgba($color-gray, .2);
        }
    }
}
