.sidebar {
    &__links {
        @include flex(stretch);
        flex-direction: column;
        gap: 5px;
    }

    &__add-room {
        @include flex(center, center, nowrap);
        background: rgba(46, 187, 46, .82);
        gap: 8px;
        color: $color-white !important;

        .sidebar__link-icon {
            @include font(17px);
            transform: translate(-1px, -1px);
        }

        &:hover {
            background: rgba(45, 171, 45, 0.82) !important;
        }
    }

    &__link {
        @include font(15px, 500, 1, $color, null);
        @include flex(center, null, nowrap);
        text-decoration: none;
        gap: 10px;
        padding: 10px;
        border-radius: 5px;

        &-icon {
            transform: translateY(-2px);
        }

        &.router-link-active {
            background: $color-blue-lite;
            color: $color-white;

            &:hover {
                background: darken($color-blue-lite, 5%);
            }

        }

        &:hover {
            background: rgba($color-gray, .2);
        }
    }
}
