.login {
    &__btns {
        @include flex(center);
        gap: 10px;
        margin-top: 15px;
    }

    &__input {

    }

    &__inner {
        @include flex(stretch);
        flex-direction: column;
        gap: 10px;
    }
}
