.modal {
    @include transition(.2s);
    @include position(fixed, 0, 0, null, null, 1000);
    @include size(100%, 100%);
    @include flex(center, center);
    visibility: hidden;
    opacity: 0;
    animation: fadeIn 0.5s linear;
    background: rgba($color, .7);

    &__close {
        @include position(absolute, null, 0, 0, null);
        @include font(30px, 300, 15px, $color-white, null);
        cursor: pointer;
        padding: 5px 10px 10px 15px;
        background: $color-blue-lite;
        border-bottom-left-radius: 25px;

        &:hover {
            background: $color-blue;
        }
    }

    &__load {
        @include position(absolute, 50%, 50%, null, null);
        transform: translate(-50%, -50%);

        &-icon {
            @include font(45px, null, 15px, null, null);
            animation: move 0.9s infinite linear;
        }
    }

    &__wrapper {
        @include transition(.2s);
        width: 700px;
        min-height: 500px;
        position: relative;
        background: $color-white;
    }

    &.show {
        opacity: 1;
        visibility: visible;
    }
}
