.page {
    &__content {
        @include flex(stretch, null, nowrap);
        gap: 25px;

        &-left {
            width: 20%;
        }

        &-right {
            flex: 1;
        }
    }

    &__load {
        @include flex(center, center);
        height: 50vh;

        &-icon {
            @include font(40px, null, 1, null, null);
            animation: move 0.9s infinite linear;
        }
    }
}
