.page {
    &__content {
        @include flex(stretch, null, nowrap);
        gap: 25px;
        height: 100%;

        &-left {
            width: 20%;
            padding: 15px;
            background: $color-white;
        }

        &-right {
            flex: 1;
            padding: 15px;
            background: $color-white;
            position: relative;
        }
    }

    &__load {
        @include flex(center, center);
        height: 50vh;

        &-icon {
            @include font(40px, null, 1, null, null);
            animation: move 0.9s infinite linear;
        }
    }
}
